# Challenge SQL

**Bienvenue dans le challenge SQL !** Il s'agit d'évaluer les compétences acquises pour formuler des requêtes SQL et extraire des informations pertinentes.

Vous avez une série de X questions et vous devez proposer à chaque fois une instruction SQL.

La base de données **MySQL** est disponible ici [w3 schools](https://www.w3schools.com/mysql/trymysql.asp?filename=trysql_editor) :
- la base comporte 8 tables,
- le site vous propose un éditeur MySQL intégré.  

  
  
**Consignes :**
- Faites une copie de ce notebook et modifiez-le librement.
- Formulez les requêtes dans l'éditeur MySQL de W3 Schools et collez votre instruction ici dans le notebook.
- En fin de challenge, partagez votre travail sur Simplonline (veuillez vous assurer que les accès à votre document sont autorisés à des tiers).

#1.Compréhension de la base de données et des tables

## Question 1
Compléter ce tableau concernant les clés primaires et étrangères des tables de la base de données.

| Table        | Clé primaire  | Clé(s) étrangère(s) |
| ------------ | ------------- | ------------- |
| Customers    | CustomerID    | None         |
| Categories   | CategoryID    | None         |
| Employees    | EmployeeID    | None         |
| OrderDetails | OrderDetailID | OrderID, ProductID |
| Orders       | OrderID       | CustomerID, EmployeeID, ShipperID |
| Products     | ProductID     | SupplierID, CategoryID |
| Shippers     | ShipperID     | None         |
| Suppliers    | SupplierID    | None         |

#2.Requêtes simples

## Question 2
Sélectionner les colonnes `ProductName` et `Price` de la table `Products`.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT ProductName, Price  FROM Products;

## Question 3
Quels sont les différents pays représentés dans la table `Suppliers` ?

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT DISTINCT Country FROM Suppliers;

## Question 4
Sélectionner les fournisseurs dont le pays est la France.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT * FROM Suppliers
WHERE Country='France';

## Question 5
Sélectionner les produits dont le prix de vente est supérieur ou égal à 20€.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT * FROM Products
WHERE Price>=20;

## Question 6
Sélectionner les fournisseurs dont le pays n’est pas la France.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT * FROM Suppliers
WHERE Country<>'France';

## Question 7
Sélectionner les employés dont le prénom est Janet ou Michael.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT * FROM Employees
WHERE FirstName = 'Janet' OR FirstName = 'Michael';

## Question 8
Sélectionner la table des produits ordonnée par prix croissant.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT * FROM Products
ORDER BY Price;

## Question 9
Sélectionner les 3 produits les moins chers.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT * FROM Products
ORDER BY Price
LIMIT 3;

#3.Requêtes avec agrégation

## Question 10
Calculer le nombre de fournisseurs par pays.  
Ordonner la table par nombre de fournisseurs décroissants.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT Country, COUNT(SupplierID) AS 'count_suppliers' FROM Suppliers
GROUP BY Country
ORDER BY count_suppliers DESC;

## Question 11
Donner le prix moyen des produits en fonction de leur CategorieID.  
Ordonner la table prix moyen décroissants.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT CategoryID, AVG(Price) as price_avg FROM Products
GROUP BY CategoryID
ORDER BY price_avg DESC;

## Question 12
Calculer le nombre de clients par pays.  
Ordonner la table par nombre de clients décroissants.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT Country, count(CustomerID) AS count_customer FROM Customers
GROUP BY Country
ORDER BY count_customer DESC;

## Question 13
Quels sont les pays qui disposent d'au moins 3 fournisseurs différents ?

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT Country, COUNT(SupplierID) as count_supplier FROM Suppliers
GROUP BY Country
HAVING count_supplier >= 3;

## Question 14
Quels sont les `ProductID` dont la quantité vendue dépasse ou égale les 1000 unités ?

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT ProductID, SUM(Quantity) as n_prod FROM OrderDetails
GROUP BY ProductID
HAVING n_prod >= 1000;

#4.Gestion des chaînes de caractères

## Question 15
Reconstituer l'adresse postale des fournisseurs.  
Pour chaque nom de fournisseur restituer l'adresse postale au format donné dans l'example suivant :

| SupplierName        | Adresse_postale  |
| ------------------- | ------------- |
| Exotic Liquid       | 49 Gilbert St. - EC1 4SD - Londona - UK    |

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT SupplierName, CONCAT(Address, ' - ', PostalCode, ' - ', City, ' - ', Country) AS Adresse_postale FROM Suppliers;

## Question 16
Extraire les clients dont le champ `CustomerName` commence par `An`.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT * FROM Customers
WHERE CustomerName REGEXP '^An';

## Question 17
Extraire les produits dont l'unité de conditionnement est exprimée en `box` ou en `boxes`.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT * FROM Products
WHERE Unit REGEXP 'box' OR Unit REGEXP 'boxes';

#5.Gestion des dates

## Question 18
Extraire les années de naissance des employés.  
Pour chaque nom et prénom des employés restituer l'année de naissance, au format donné dans l'example suivant :

| LastName     | FirstName  | Annee_naissance  |
| -------------| -----------| -----------------|
| Fuller       | Andrew     | 1952             |

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT LastName, FirstName, YEAR(BirthDate) as Annee_naissance FROM Employees;

## Question 19
Restituer une table qui délivre les volumes de commandes par année.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT COUNT(OrderID) as order_per_year, YEAR(OrderDate) AS order_date FROM Orders
GROUP BY order_date;

## Question 20
Restituer une table qui délivre les 3 mois pour lesquels les volumes de commandes sont les plus importants.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT COUNT(OrderID) AS order_per_month, MONTH(OrderDate) AS order_month FROM Orders
GROUP BY order_month
ORDER BY order_per_month DESC
LIMIT 3;

#6.Jointures

## Question 21
Sélectionner les produits et leur catégorie (`CategoryName`) dont le prix de vente est supérieur ou égal à 20€.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT ProductID, ProductName, c.CategoryID, CategoryName, Price FROM Products as p
LEFT JOIN Categories as c
ON p.CategoryID=c.CategoryID
WHERE Price >= 20;

## Question 22
Quel est le prix moyen par catégorie (`CategoryName`) de produit ?

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT CategoryName, AVG(Price) as avg_price FROM Products as p
LEFT JOIN Categories as c
ON p.CategoryID=c.CategoryID
GROUP BY CategoryName;

## Question 23
Quels sont les produits (`ProductName`) dont la quantité vendue est comprise entre 1200 et 1600 unités ?

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT od.ProductID, ProductName, SUM(Quantity) as n_prod FROM OrderDetails as od
LEFT JOIN Products as p
ON p.ProductID=od.ProductID
GROUP BY od.ProductID
HAVING n_prod >= 1200 and n_prod <= 1600;

## Question 24
Quels sont les produits (`ProductName`) et leur catégorie (`CategoryName`) dont la quantité vendue est comprise entre 1200 et 1600 unités ?

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT od.ProductID, ProductName, SUM(Quantity) as n_prod, p.CategoryID, CategoryName FROM OrderDetails as od
LEFT JOIN Products as p
ON p.ProductID=od.ProductID
LEFT JOIN Categories c
ON p.CategoryID = c.CategoryID
GROUP BY od.ProductID
HAVING n_prod >= 1200 and n_prod <= 1600;

## Question 25
Quelles sont les quantités vendues réparties par employé et par catégorie de produits ?  

La table doit avoir une structure comme dans l'example suivant :  

| CategoryName     | Employee  | Qte_totale  |
| -------------| -----------| -----------------|
| Beverages       | Davolio Nancy     | 1607             |

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT c.CategoryName, CONCAT(e.FirstName, ' ', e.LastName) as Employee, SUM(Quantity) as n_prod FROM OrderDetails as od
LEFT JOIN Orders as o
ON od.OrderId = o.OrderID
LEFT JOIN Employees as e
ON o.EmployeeID = e.EmployeeID
LEFT JOIN Products as p
ON od.ProductID = p.ProductID
LEFT JOIN Categories as c
ON c.CategoryID = p.CategoryID
GROUP BY c.CategoryName, e.EmployeeID;

#7.Requêtes avancées
Dans cette section vous serez amené à utiliser les requêtes imbriquées.

## Question 26
Quel est le client (`CustomerName`et `ContactName`) qui a établi la dernière commande ?  
*Note : La valeur de `OrderID` vous donne l'ordre chronologique des commandes.*

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT o.OrderID, c.CustomerID, c.CustomerName, c.ContactName FROM Orders as o
LEFT JOIN Customers as c
ON c.CustomerID = o.CustomerID
Group by OrderID
Order by OrderID DESC
LIMIT 1;

## Question 27
Quels sont le client (`CustomerName`et `ContactName`) et l'employé concernés (`FirstName`et `LastName`) par la dernière commande ?  
La table doit avoir une structure comme dans l'example suivant :  

| OrderID	| OrderDate	| CustomerName | 	ContactName	| FirstName	| LastName|
| --| --| --| --| --| --|
| 11077	| 1998-05-06	| Rattlesnake Canyon Grocery	| Paula Wilson	| Nancy	| Davolio|

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT o.OrderID, o.OrderDate, c.CustomerName, c.ContactName, e.FirstName, e.LastName FROM Orders as o
LEFT JOIN Customers as c
ON c.CustomerID = o.CustomerID
LEFT JOIN Employees as e
ON o.EmployeeID = e.EmployeeID
Group by OrderID
Order by OrderID DESC
LIMIT 1;

## Question 28
Calculer le nombre de commandes livrées par livreur (`ShipperName`) ainsi le pourcentage du total de commandes.  
Ordonner la table par ordre decroissant du nombre de commandes.  
La table doit avoir une structure comme dans l'example suivant :  

| ShipperName	| Nb_commandes	| Part_commandes |
| --| --| --|
| United Package	| 326	| 39.3 %	|

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :
SELECT ShipperName, nb_command, concat((nb_command / 830)*100, ' %') as sum_command from (
  SELECT ShipperName, Count(OrderID) as nb_command FROM Orders o
  LEFT JOIN Shippers as s
  ON s.ShipperID = o.ShipperID
  Group by s.ShipperID
) as A
Order By nb_command DESC;

## Question 29
Calculer d'articles commandés par fournisseur (`SupplierName`) ainsi le pourcentage du total de commandes.  
Ordonner la table par ordre decroissant du nombre de commandes.  
La table doit avoir une structure comme dans l'example suivant :  

| SupplierName	| Nb_commandes	| Part_commandes |
| --| --| --|
| Plutzer Lebensmittelgroßmärkte AG	| 179	| 8.3 %	|

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 30
A partir de la table `OrderDetails`, créer une colonne `QuantityText` qui prendra les valeurs suivantes :
- `"The quantity is under 30"` si `Quantity` < 30
- `"The quantity is 30"` si `Quantity` = 30
- `"The quantity is greater than 30"` si `Quantity` > 30

Ensuite comptabilliser le nombre de fois où les 3 catégories apparraisent et ordonner la table par ordre decroissant de ce comptage.  
La table doit avoir une structure comme dans l'example suivant :  

| QuantityText	| Nb_commandes	|
| --| --|
| The quantity is under 30	| 1464	|

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

#8.Fin du challenge
Bravo ! Vous êtes arrivés sans peine jusqu'à la fin de ce challenge SQL ✌ !